.feed-panel{
	padding:25px 0px 5px 10px;
	border-bottom:1px solid #f7f7f7;
}
.feed-panel:last-child{
border-bottom:none;	
}
.feed-panel:hover{
	background: #cce8f6;
}
.feed-panel p{
	font-family: "HelveticaNeueLight",Helvetica,Arial,sans-serif;
	font-size: 15px;
}
.feed-panel h3{
	color:#666
}
#sub-menu li.sub-act{
	color:#000;
}


@media (max-width:800px){
	.feed-panel{
		padding: 10px;
	}
	.left-panel{
		border-bottom: 0;
	}
	.videos-panel{
	text-align: center ;
    float: none;
    clear: both;
    margin: 0 auto;
	}
}

@media (min-width:801px) and (max-width: 1100px){
	.feed-panel h3{
		margin: 0;
	}
}