.calculation-section{
	padding-top: 12px;
}
.calculation-section label{
	font-size: 25px;
	padding-left: 0;
}
.calculation-section input{
	font-size: 23px;
	text-align: center;
}
.contact-link label{
	font-weight: normal;
}
.left-internal > .page-heading{
	padding-bottom:0;
}
.right-internal{
text-align: center;
}
.right-internal > .page-heading{
	padding-bottom:0;
}
.social-link{
	list-style-type: none;
	padding-left:0;
}
.social-link li{
	padding: 10px;
	display: inline-block;
}
@media (min-width: 768px) and (max-width: 992px){
	.cms-tab{
		display: block;
	}
	.calculation-section{
		text-align: center;
	}
	.right-cms-panel-internal{
		text-align: center;
	}
	.contact-link label{
		display: block;
	}
	.left-internal{
		overflow: hidden;
	}

}

@media (max-width: 767px) {
	.cms-tab{
		display: none;
	}
	.cms-mobile-menu{
		display: block;
		margin: 0;
		padding: 0;
		background-color: #f7f7f7;
		padding: 6px 8px;
	}
	.cms-label{
	    vertical-align: super;
	    font-size: 18px;
	}
	.cms-left-section >.navbar-toggle1{
		display: block;
	}
	.cms-left-section{
		position: relative;
	}
	.cms-right-section{
		padding: 15px 0px;
		overflow: hidden;
	}
	.left-panel-content{
		overflow: hidden;
	}
	.right-cms-panel-internal{
		float: left;
		text-align: center;
	}
	.right-cms-panel-internal .page-heading{
		font-weight: bold;
	}
	.cms-container{
		border:1px solid #e8e8e8;
	}
	.left-panel{
		border-bottom: 1px solid #e8e8e8;
	}
	.left-internal{
		border-bottom: 1px solid #e8e8e8;
	}
}