@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
html{
  margin:0;
  min-height:100%;
  position: relative;
}
body {
  margin:0;
  min-height:100%;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif !important;
}
a:focus{
    outline: none;
}
a:hover,a:focus, a:link,a:visited{
    text-decoration: none;
}
.cancel-popover-fw {
    width: 170px; 
    text-align: center;
}
.container-fluid{
    padding: 0;
    margin: 0;
}

/*Tab Layout Specific*/
.tab-layout > li > a{
    padding: 5px 30px;
    color:#565655;
    font-size:18px;
    font-weight: 400;
    font-family: 'HelveticaNeue';
    text-align:center;
    margin:0 7px;
}
/*header*/
.header{    
    background-image:  url('../images/header-bg.png');
    background-repeat: repeat;
    background-position: center;
    height:60px;
    border-bottom: 1px solid #e3e3e3;
    -moz-box-shadow:   0 0 6px #e3e3e3;
    -webkit-box-shadow: 0 0 6px #e3e3e3;
    box-shadow:0 0 6px #e3e3e3;
    padding:2px;
}
.mainmenu > li{
    text-align: center;
    position: relative;
    padding:3px 0;
}
.users{
    display:none;
}
.caret{
     color: #FF705B;
}



.mainmenu > li > a{
    text-decoration: none;
    display: block;
    position: relative;
    margin: 0px 15px;
}

.mainmenu li a:hover{
    text-decoration: none;
}

.mainmenu li a > span{
    text-align: center;
    font-size:11px;
    font-weight: normal;
    display: block;
}

.mainmenu > li > a > p{
  line-height: 15px;
  font-size: 11px;
  margin:0;
}
.mainmenu > li > a > p > span{
    display: inline-block;
}
.mainmenu li a span.counter {
    padding: 1px 4px;
    border-radius: 4px;
    position: absolute;
    top: -3px;
    right: 11px;
    line-height: 11px;
}

.mainmenu li ul.big-menu{
    width: 400px;
}
.mainmenu li ul.small-menu{
    width: 200px;
}

.mainmenu li ul.has-sub{
    position: absolute;
    z-index: 10;
    list-style: none;
    padding:0px;
    right: 0px;
    top: 100%;
    overflow: hidden;
}

.mainmenu li ul.has-sub li{
    width: 33%;
    float: left;
    padding: 0 8px;
}
.mainmenu li ul.has-sub li.border-none a:last-child{
    border:none;
}

.mainmenu li ul.has-sub li a{
    display: block;
    text-align: left;
    padding: 4px 8px;
    line-height: 28px;
    font-size: 14px;
}
.mainmenu li ul.has-sub li a:hover{
    color: #888;
}
.mainmenu li ul.has-sub.small-menu li{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0px 8px;
}
.mainmenu li ul.has-sub.small-menu li a span{
    display: inline-block;
}

/*Page Heading Specific*/
.page-heading{
    margin-bottom:15px;
    font-size: 28px;
    font-family: 'HelveticaNeue', helvetica, sans-serif;
    padding: 0px;
    padding-bottom:25px;
}

.admin-menu{
    display: none;
}






.error{
    font-size: 14px;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}


.main-content{
    margin-top:25px;
    margin-bottom: 100px;
}

.logo{
    padding:8px 0;
}

.logo h1{
margin: 0px;
line-height: 0px;
}

/*end header*/

/*footer*/
.footer {
    background-image: url('../images/footer-bg.png');
    background-repeat: repeat;
    background-position: center;
    padding: 10px 0;
   /* height: 48px;*/
    /*margin-top: 50px;*/
    position: absolute;
    width: 100%;
    bottom: 0px;
}

 .footer .list-inline > li{
    display: block;
    padding: 10px;
    }
.seperation{
    display:none;
}
.footerlist{
    margin-bottom: 0px;
    line-height: 18px;
}
   
.footerlist li a{
color:#666;
text-decoration: none;
font-size: 14px;
line-height:normal;
}
.social-link-section ul{
    list-style-type: none;
    text-align: right;
    padding: 0;
}

.social-link-section ul > li{
    display: inline-block;
    padding:0px 0px 0 10px
}
.copyright{
    color:#35404f;
    padding: 35px;
}
.social-link-section{
    padding-bottom:20px;
}
/*end footer*/

.pageheader1{
font-size: 30px;
line-height: 25px;
}

.pageheader2{
font-size: 14px;
line-height: 25px;
}

.pageheader3{
font-size: 23px;
line-height: 30px;
}

.pageheader4{
font-size: 24px;
font-weight: 500;
}

.pageheader5{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    /*font-weight: 700;*/
}

.pageheader6{    
    font-weight: 400;
    font-size: 18px
}

.pagepara{
    font-size: 14px;
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    line-height: 25px
}

.btn-default,.btn-default:focus,.btn-default:hover,.btn-default:active{
  border:none;
  padding: 6px 22px;
}

.btn-primary,.btn-primary:focus,.btn-primary:hover,.btn-primary:active{
    border:none;
}

.uppercase{
text-transform: uppercase;
}


.row-flex{ /*this class is for vertically center align the div*/
     display:flex;
    align-items:center;
}
    
.no-spacing{
    margin:0px;
}   


.navbar-toggle .icon-bar {
    background-color: #00a1e0;
    height: 3px;
}



.customform .form-control {
width:100%;
}

.customform .form-group{
    width:100%;
    margin-bottom: 15px;
    clear: both;
}


.customform .form-group.form-control,.customform .form-group label{
    margin-bottom: 15px;
}

.no-padding{
    padding:0px;
}


.media-body{
        font-size: 14px
}

.visible-mobile{
    display: none;
}
.hidden-mobile{
    display: block;
}

/*account page code*/
.tab-heading {
    margin: 10px 8px 0px 9px;
    padding: 10px 15px;
}
/*end account page code*/


.visibility-hidden{
visibility:hidden;
}

.bottom-right-element{
    margin:85px 0px 10px 0px;
}

.small-text-info{
    font-size: 13px;
}
.bottom-right-element p {
    margin: 0px;
}


.display-none{
    display: none;
}

.display-block{
    display:block;
}

.margin-none{
    margin: 0;
}

.margin-left15{
    margin-left: 15px;
}

.padding25{
    padding:25px;
}
.padding15{
    padding:15px;
}
.padding20{
    padding:20px;
}

.margin-top25{
    margin: 25px 0px 0px 0px;
}

.margin-top10{
    margin:10px 0px 0px 0px;
}

.thumb-padding{
    padding-top:15px;
}

.hrline{
    height:1px;
    clear:both;
    margin:55px 15px 20px 15px;
}
.pointer {
    cursor: pointer;
}
.font16{
    font-size: 16px
}



/*Rating*/

.rating li.normal_star {
    background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat scroll 0 80px / 29px auto;
    border: medium none;
    display: inline-block;
    margin: 4px;
    padding: 14px;
    margin-left: 0;
}
.rating li.normal_star:hover {
    background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat 29px 53px / 28px auto;
    cursor: pointer;
}

.rating li.rated_star {
    background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat scroll 27px 52px / 28px auto;
    border: medium none;
    display: inline-block;
    margin: 4px;
    padding: 14px;
    margin-left: 0;
}
.rating li.half_rated_star {
    background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat scroll 0px 26px / 29px auto;
    border: medium none;
    display: inline-block;
    margin: 4px;
    padding: 14px;
    margin-left: 0;
}
.rating li.half_rated_star:hover {
    background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat 1px 53px / 29px auto;
    background-size: 28px;
    cursor: pointer;
}


/*End Rating*/

/*Modal-global-spinner*/

#body_spinner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.4 !important;
    z-index: 9999999;
}
.spinner > div >div{
    background: #fff !important;
    opacity: 1 !important;
}
#body_spinner .spinner{
    position: fixed !important;
}
/*Bootstrap calendar property*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff !important;
}
.overflow-hidden{
    overflow: hidden;
}
/*Media Query*/

@media (max-width: 1400px) {}





@media(min-width: 768px) and (max-width: 1100px){

    .customform .form-control,.customform .form-group label  {
        margin-bottom: 15px;
    }
    .mainmenu li a{
        margin: 0px 10px;
    }
    .page-heading{
        padding:0px 5px;
        font-size: 24px;
    }
    .visible-mobile{
        display: block
    }
   .hidden-mobile{
    display: none;
   }
      .rating li.normal_star{
        margin: 2px;padding: 8px;background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat scroll 0px 42px / 15px auto
    }
    .rating li.normal_star:hover {
        background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat scroll 0 29px / 15px auto; cursor: pointer;
    }

    .rating li.rated_star {
        margin: 2px;padding: 8px;background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat scroll 0px 70px / 15px auto
    }

    .rating li.half_rated_star {
        margin: 2px;padding: 8px;background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat scroll 0 15px / 15px auto
    }
    .rating li.half_rated_star:hover {
        background: rgba(0, 0, 0, 0) url("../images/ratings.png") repeat scroll 0 29px / 15px auto; cursor: pointer;
    }
    .tab-layout > li{
        font-size: 14px;
      /* margin: -1px 5px !important;*/
    }

}


@media (min-width: 768px) and (max-width: 1100px){
    .tab-layout > li > a{
       padding: 6px 0px;
        font-size: 14px;
    }
}









/*media query for width  between 768px and 1100*/
@media(min-width: 768px) and (max-width: 1100px){
  

}
/*end media query for width  between 768px and 992px*/

/*@media(min-width: 768px){
    .large-dev-menu{
        display: inline-block !important;
    }
    .small-dev-menu{
        display: none;
    }
     
}
*/

/*media query for width less than 768px*/
@media(max-width: 767px){
    .header{    
        height:50px;
    }
    .logo {
        padding: 11px;
    }
    .logo img{
        width: 60%;
    }
    .header > .container{
        padding:0px;
    }
    .page-heading{
        padding:0px 5px;
        font-size: 20px;
    }
    .pageheader1 {
    font-size: 25px;
    }
    .pageheader3 {
    font-size: 20px;
    }

    .pageheader4 {
    font-size: 20px;
    }

    .pageheader5{
    font-size: 17px;
    }

    .pageheader6 {
    font-size: 16px;
    }
    .media-body{
        font-size: 13px
    }

    .btn{
        font-size: 12px;
    }


    .navbar-toggle{
        margin:5px;
    }

    .small-dev-menu{
    display: inline-block;
    }

   .small-dev-menu .caret {
    color: #FF705B;
    position: relative;
    left: 15px;
    top: -4px;
    }

    .large-dev-menu{
        display: none !important;
    }

    .small-dev-menu .toggle-dropdown {
        position: relative;
        padding: 17px 0 0 0;
    }

    .small-dev-menu .toggle-dropdown ul.has-sub{
        position: absolute;
        z-index: 999;
        background-color: #FFF;
        padding: 0px;
        right: -10px;
        /*top: 100%;*/
        box-shadow: 0px 2px 6px #999, 0px 2px 3px #E3E3E3 inset;
        overflow: hidden;
        width:150px;
        top:100%;
    }

    .small-dev-menu .toggle-dropdown ul.small-menu li{
        display: block;
        width: 100%;
        text-align: left;
        padding: 0px 8px;
    }

    .small-dev-menu .toggle-dropdown ul.small-menu li a{
        display: block;
        text-align: left;
        padding: 4px 8px;
        line-height: 28px;
        border-bottom: 1px solid #DFDEE0;
    }
    .mainmenu {
        display: none;
        position: absolute;
        width: 100%;
        right: 0px;
        z-index: 2;
        background: rgb(71, 84, 101) none repeat scroll 0% 0%;
        top: 50px;
        }
    .mainmenu li ul.has-sub{
        position: relative;
        width: 100%;
    }  
    .mainmenu li:nth-child(4){
        display: none;
    }
    .mainmenu li:nth-child(4) a{
        padding: 6px 13px;
    }  
  /*  .mainmenu li:nth-child(4) a img{
        display: block;
        float: left;
        width: 24px;
        margin-right: 5px;
    }*/
    .admin-menu{
        display: block;
        margin-top: 4px;
    }
    .admin-menu ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .admin-sub-menu li{
        width: 100%;
        padding: 8px 13px;
        border-bottom: 1px solid #3a4758;
    }
    .admin-dropdown i{
        display: block; 
        margin: 2px 0 0 15px;
    }
    .admin-sub-menu > li > a{
        padding: 0 6px;
        font-size: 13px;
        color: #999;
    } 
    .admin-sub-menu{
        position: absolute;
        width: 100%;
        right: 0px;
        z-index: 2;
        background: rgb(71, 84, 101) none repeat scroll 0% 0%;
        top: 50px;
    }

    .mainmenu > li > a > p{
        line-height: 22px;
    }

    .mainmenu > li {
    padding: 0px;
    width: 100%;
    height: auto;
    text-align: left;
    }
    .mainmenu li ul.has-sub.small-menu li{
        padding:0 7px;
    }
    .mainmenu li ul.has-sub li a{
        padding: 0 6px;
        font-size: 13px;
    }

    .mainmenu > li > a {
    text-decoration: none;
    margin: 0px;
    border-bottom: 1px solid #3a4758;
    padding: 8px 13px;
    }

    .mainmenu li a img {
        display: none;
    }
    .mainmenu li a span {
    text-align: left;
    font-size: 13px;
    color:#d8dee7;
    }


    .mainmenu li a span.counter {
    padding: 2px 5px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 13px;
    background-color: #FF705B;
    color: #FFF;
    font-size: 11px;
    line-height: 11px;
    }

    .mainmenu li > a > p  > i{
        float: right;
        margin: 8px 3px;
    }

    .footer{
        height:auto;
    }

    .main-content {
        margin-bottom: 120px;
    }
   .copyright {
    font-size: 12px;
    }

    .customform .form-control {
       /* width:auto;*/
        margin-bottom: 15px;
    }

    .suggested-doctor-img {
    width: 70px;
    height: 70px;
    }
    

    /*Footer*/
    .copyright {
        color: #666;
        text-align: center;
        float: none !important;
        padding: 0;
        clear: both;
    }
    .social-link-section{
        padding: 0;
    }
    .social-link-section ul{
        text-align: center;
    }
    .seperation{
        display:block;
    }
    .footerlist{
        padding: 0;
    }
    .footerlist li a{
        font-size: 13px;
    }

}
/*end media query for width less than 768px*/

@media(max-width: 640px){

.modal-dialog{margin:25px;}
.modal{top:3%;}

.main-content{
    padding-right:6px;
    padding-left:6px;
    margin-top:0px;
    margin-left:0px;
    margin-right: 0px;
}
.main-content > div{
margin:0px auto;

}

.hrline {
    margin: 15px 15px 20px 15px;
}


}

/*414*/

@media(max-width: 414px){

    .pageheader1 {
    font-size: 18px;
    }
    .pageheader3 {
    font-size: 16px;
    }
    .pageheader4 {
    font-size: 17px;
    }
    .pageheader5 {
    font-size: 14px;
    }
    .pageheader6 {
    font-size: 14px;
    }
    .media-body{
        font-size: 12px
    }


.pageheader1{
font-size: 22px;
}

.pageheader2{
font-size: 12px;
}

.pageheader3{
font-size: 17px;
}

.pageheader4{
font-size: 18px;
}

.pageheader5{
font-size: 15px;
}

.pageheader6{    
font-size: 14px
}


}
/*end 414*/