h2.pageheader1{
font-size: 28px;
margin-top:10px;
padding-bottom:25px;
font-weight: normal;
padding-left:15px;
}

h4.pageheader4 {
    font-size: 21px;
    font-family: "HelveticaNeueLight",Helvetica,Arial,sans-serif;
    margin: 0px;
}


.hrline{
    margin:25px 0px;
}

.delete-image {
    width: 33px;
    height: 24px;;
    cursor: pointer;
    background-position: center top;
    background-image:  url('../images/delete2_can.png');
    background-repeat: no-repeat;
    background-position: 0px -24px;
    outline: none;
    border:none;
}

.delete-image:hover {
    background-position: 0px 0px;
    background: url('../images/delete2_can.png');
    outline: none;
    border:none;
}


/*new code starts from here for browse-doctors1.html file*/
.grey-bg{
    background: #ebebeb;
}

.diseases-list .borderbox .dropdown{
    margin:10px 0px;
}
.diseases-list .borderbox .dropdown h4{
    margin:0px;
    cursor: pointer;
    font-size: 15px;
}
.diseases-list .borderbox .dropdown.open{
position: relative;
overflow: hidden;
}

.diseases-list .borderbox .dropdown ul.dropdown-menu{
    border:none;
    background:none;
    box-shadow: none;
    width:auto;
    min-width:130px;
    margin:0px 10px;
    position: relative;
}

.diseases-list .borderbox .dropdown ul.dropdown-menu li{
    position: relative;
    font-size: 13px
}
/*end new code starts from here for browse-doctors1.html file*/