h2.pageheader1{
font-size: 28px;
margin-top:10px;
padding-bottom:25px;
font-weight: normal;
border-bottom:1px solid #e5e5e5;
padding-left:15px;
}

.tab-heading {
background-color: #F7F7F7;
margin: 10px 8px;
padding: 10px 15px;
	color:#000;
}

.tab-heading h4.pageheader4{
	font-size: 21px;
	font-family: "HelveticaNeueLight", Helvetica, Arial, sans-serif;
	text-align: left;
	margin: 0px;
}

#my-health-interests .tab-heading p{
	font-size: 14px;
	font-family: font-family: "HelveticaNeueLight", Helvetica, Arial, sans-serif;
	margin: 0px 0px 0px;
}

h3.pageheader5{
color: #3C3C3B;
font-size: 18px;
padding: 20px;
}

/*ul.myhealth-tabs > li{
margin: 0px 7px -1px 7px;
}


ul.myhealth-tabs > li >a{
color:#3c3c3b;
background-color: #e7e7e7;
font-size: 18px;
font-family: "HelveticaNeueLight", Helvetica, Arial, sans-serif;
}*/


.myhealth-tab-content{
  margin:0px 0px;
} 

.myhealth-tab-content #my-documents.tab-pane .btn-default, .myhealth-tab-content #my-documents.tab-pane .btn-default:focus, .myhealth-tab-content #my-documents.tab-pane .btn-default:hover, .myhealth-tab-content #my-documents.tab-pane .btn-default:active {
    padding: 10px 10px;
    float:none;
    margin:10px;
    width:250px;
    outline: none;
/*    text-align: left;*/
}
#my-documents > div{
	text-align: center
}



.btn-pos{
	text-align: left;
}



.page-para2{
	color:#3c3c3b;
	font-size: 18px;
	padding:20px;
}

.hrline{
	height:1px;
	border-bottom:1px solid #e2e2e2;
	clear:both;
	margin:55px 15px 20px 15px;
}

.myhealth-tab-content .borderbox{
margin:0px 15px;
}


.myhealth-docs{
	padding:  0px;
	margin:0 30px;
	list-style: none;
}
.myhealth-docs li:after{
	clear: both;
	content: '';
	display: block;
}
.myhealth-docs li{
	/*margin:0px 30px;
	padding:20px 0px;*/
	border-bottom:1px solid #e2e2e2;
	width:100%;
	padding:20px 0px;
	margin: 0px 0px;
}

.myhealth-docs li:last-child{
	border:none;
}

.myhealth-docs li div{
	padding: 0px;
}
.myhealth-docs li div label{
	float: left;
	font-weight: normal;
	margin:0px;
}
.myhealth-docs li .file-type{
	float: right;
}

.myhealth-docs li .file-type .image{
	padding-left: 40px;
	background-image: url("../images/row-sample-img.png");
    background-repeat: no-repeat;
    background-size: 30px 20px;
    padding-bottom: 5px;
}

.myhealth-docs li .edit-name{
	border: 1px solid #ccc;
	padding: 5px;
	overflow: hidden;
}
.myhealth-docs li .edit-name input, .myhealth-docs li .edit-name a{
	float: left;
}
.myhealth-docs li .edit-name input{
	width: 300px;
	border: 0;
	box-shadow: none;
	height: 24px;
}
.myhealth-docs li .edit-name input:focus{
	box-shadow:none;

}
.myhealth-docs li .edit-name a{
	padding: 0 10px;
	background: #ccc;
	display: block;
	height: 24px;
	line-height: 24px;
}



.bottom-right-element p{
	margin:0px;
}
.disease-list{
list-style: none;
margin-left: 10px;
}

.disease-list li{
	margin:10px 0px 10px 10px;
}

.disease-list li input[type="checkbox"]{
  margin:0px 10px 0 0;
}

.disease-list li label{
	font-size: 14px;
	font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
	color:#000;
	font-weight: 500;
}

#my-health-interests .btn-default{
	margin:15px;
}

#my-health-interests > p{
	font-size: 15px;
	font-family: "HelveticaNeueLight", Helvetica, Arial, sans-serif;
	margin: 15px 25px;
	line-height: 20px;
}

.medical-concerns {
background-color: #F7F7F7;
margin: 10px 8px;
padding: 10px 15px;
color:#000;
}

.medical-concerns h4.pageheader4{
	font-size: 21px;
	font-family: "HelveticaNeueLight", Helvetica, Arial, sans-serif;
	text-align: left;
	margin: 0px;
	display: inline-block;
}

#my-health-interests > .medical-concerns > .pageheader4{
	display: inline-block;
}

#my-health-interests > .medical-concerns > a > i{
top: 10px;
color:#5b6a7e;
}

.medical-concerns-tabs{
	margin:25px;
}

.medical-concerns-tabs .tab-content{
	border:none;
}

.medical-concerns-tabs ul li.active a{
color:#00A1E0;
} 

.medical-concerns-tabs .tab-content .tab-pane h3.pageheader4{
	font-size: 21px;
}


.myhealth-tab-content .borderbox{
margin:0px 15px;
}
.my-diseases-list{
	padding:  0px;
	margin:0 0px;
	list-style: none;
}
.my-diseases-list li:after{
	clear: both;
	content: '';
	display: block;
}
.my-diseases-list li{
	border-bottom:1px solid #e2e2e2;
	width:100%;
	padding:15px 0px;
	margin: 0px 0px;
}
.my-diseases-list li:last-child{
	border:none;
}
.my-diseases-list li div{
	padding: 0px;
}
.my-diseases-list li div label{
	float: left;
	font-weight: normal;
	margin:0px;
	color: #000;
    font-size: 15px;
}










@media(max-width: 768px){
.myhealth-docs li .edit-name input {
    width: auto;
}

h4.pageheader4{
	font-size: 18px
}

h3.pageheader5{
	font-size: 16px;
}

}


@media(max-width:414px){
	.myhealth-docs li .file-type{
		float:left;
	}
}