h2.pageheader1{
font-size: 28px;
margin-top:10px;
padding-bottom:25px;
font-weight: normal;
padding-left:15px;
}

h4.pageheader4 {
    font-family: "HelveticaNeueLight",Helvetica,Arial,sans-serif;
    margin: 0px;
    font-size: 18px;
    font-weight: 400;  
    background-color: #f7f7f7;
    padding: 10px;
}


.hrline{
    margin:25px 0px;
}

.delete-image {
    width: 33px;
    height: 24px;;
    cursor: pointer;
    background-position: center top;
    background-image:  url('../images/delete2_can.png');
    background-repeat: no-repeat;
    background-position: 0px -24px;
    outline: none;
    border:none;
}

.delete-image:hover {
    background-position: 0px 0px;
    background: url('../images/delete2_can.png');
    outline: none;
    border:none;
}


.ratingbox{
    padding:15px;
    margin:10px 0px;
}

.ratingbox.active{
    background-color: #e2f2fa;
}

.ratingbox .ratinghead
{
    font-size: 18px;
    font-weight: 400;  
    background-color: #f7f7f7;
    padding: 10px;
    font-family: "HelveticaNeueLight",Helvetica,Arial,sans-serif;
}

.ratingbox .ratinghead span{
     font-size: 14px;
     font-weight: normal;
}

.ratingbox p
{
    font-size: 14px;
    font-weight: 500;
    margin:10px;

}


.ratingbox p span
{
    font-size: 14px;
    font-weight: 400;  
}
  
.gp{
    padding: 4px;
    font-size: 11px;
    color: #db4437;
    font-weight: bold;
    border:thin solid #ccc;
}
.gp:hover{
    text-decoration: none;
    color: #db4437;
}
