.caret.big-caret{
  border-top: 7px dashed;
  border-top: 7px solid \9;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
.tab-content:after{
  clear: both;
  content: '';
  display: block;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active{
    background-color:#ff705b;
}

.row{
  margin:0 !important;
}

@media(min-width: 768px){
	.navbar-toggle {
        display: none;
    }

}