.col-centered{
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.reset-section h2{
	font-size: 22px;
	 margin:20px 0;
	  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
	}
.reset-section{
	border:1px solid #c4c4c4;
	box-shadow: 0px 0px 5px 1px #c4c4c4;
	padding: 50px;
	background-image:  url('../images/header-bg.png');
	background-repeat: repeat;
	background-position: center;
}
.reset-header{
	padding: 0;
}
.reset-header img{
	padding: 0 !important;
	margin: 0 !important;
	color:#35404f;
}
.reset-input{
	border:1px solid #c4c4c4;
	background-color: #f8f8f8;
}
.reset-input-section input{
	margin: 20px 0;
	padding:10px;
}

.reset-input-section select,option{
 	margin: 0;
    padding: 5px;
}
.reset-input-section select{
	margin:20px 0;
}
.reset-header img, h3{
	width:100%;
}
.login-btn-section{
	text-align: center;
}

/*media query for width  between 768px and 992px*/
@media(min-width: 768px) and (max-width: 992px){
	
}

@media(max-width: 767px){
	.reset-section{padding: 20px;}
	.reset-section h2{font-size: 13px;}
	.reset-input-section input{margin:5px 0;}
}